/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/
/[Aa]ssets/Plugins/Editor/JetBrains*
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
*.apk
*.aab
*.unitypackage
*.app
*.log
*.wav
*.jpg
*.jpeg
*.gif
*.mp4
*.psd
*.pdn
*.webp
*.exe
*.zip
*.7z
*.rar

crashlytics-build.properties
sysinfo.txt

[Aa]rts/
ExportedObj/
PluginsPacks/

# IDEs/Builds
.idea/
.vs/
.gradle/
.consulo/
.git*/

# Exceptions
!*.dll
!*.obj